{% extends 'layout.html' %}

{% block content %}
<h2>{{ header }}</h2>
<a class="btn btn-primary mb-4" href="{{ cancel_url }}">Cancel</a>
<form method="POST" class="form-group">
    <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
    <div class="form-group">
        <textarea class="form-control" name="{{ field_name }}" required>{{ field_value }}</textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% if error %}
    <div class="alert alert-danger mt-2">{{ error }}</div>
{% endif %}
{% endblock %}
